<div >
  <div class="col-lg-6">
  <h2>Add your observation here</h2>
</div>
<p>
</p>


<!--
<p>
  add-observation works!
</p>


New observation
<p>
<p>
Text: {{addObservation.observationText}}

<p>
ActivityId: {{addObservation.activityId}} 
<p>
ObservationDate: {{addObservation.observationDate}}
<p>
LeaderId: {{addObservation.leaderId}} 
<p>
participantId: {{addObservation.participantId}}

</p>

ActivityId: {{activity.activityId}} 
LeaderId: {{leader.leaderId}} 
<p>
participantId: {{participant.participantId}}
-->

<div class="col-lg-6">

    <textarea class="form-control" rows="5" [(ngModel)]="addObservation.observationText" placeholder="Observation text">
    </textarea>
</div>
<p>
  </p>

<div class="col-lg-6">
    <input class="form-control" [(ngModel)]="addObservation.observationDate" placeholder="Observation date - YYYY-MM-DD HH24:MI">
</div>
<p>
</p>
<div class="form-group col-lg-6">
 <label for="modifyActivity" class="col-form-label">
 Select activity
 </label>
 <select id="modifyActivity" name="modifyActivity" [(ngModel)]="activity" class="form-control" (ngModelChange)="onActivityChange($event)">
 <option class="dropdown-item" *ngFor="let activity of activitys" [value]="activity.activityId">
 {{activity.activityNumber}} - {{activity.activityName}} - {{activity.activityDate}}
 </option>
 </select>

</div>
<p></p>
<div class="form-group col-lg-6">
 <label for="modifyLeader" class="col-form-label">
  Select leader
 </label>
 <select id="modifyLeader" name="modifyLeader" [(ngModel)]="leader" class="form-control" (ngModelChange)="onLeaderChange($event)">
 <option class="dropdown-item" *ngFor="let leader of leaders" [value]="leader.leaderId">
 {{leader.leaderScoutname}} - {{leader.leaderName}} - {{leader.leaderSurname}}
 </option>
 </select>
</div>
<div class="form-group col-lg-6">
 <label for="modifyParticipant" class="col-form-label">
  Select participant
 </label>
 <select id="modifyParticipant" name="modifyParticipant" [(ngModel)]="participant" class="form-control" (ngModelChange)="onParticipantChange($event)">
 <option class="dropdown-item" *ngFor="let participant of participants" [value]="participant.participantId">
 {{participant.participantScoutname}} - {{participant.participantName}} - {{participant.participantSurname}}
 </option>
 </select>
</div>
 <p>
 </p>
<div class="col-lg-6">

<button type="button" class="btn btn-primary btn-space"(click)="add()">Add observation!</button>

</div>
<p>
</p>
<div class="col-lg-6">
  <h5 >Last added observation: </h5>
<p>
</p>
 {{addedObservation.observationText}}
<p>

</div>