<div >
  <div class="col-lg-6">
  <h2>Modify your observation here</h2>
</div>
<p>
</p>

<!--

<div class="form-group">
 <label for="modifyObservation">
  Observation
 </label>
 <select id="modifyObservation" name="modifyObservation" [(ngModel)]="modifyObservation" class="form-control" (ngModelChange)="onChange($event)">
 <option *ngFor="let observation of observations" [value]="observation.observationId">
 Text: {{observation.observationText}}
ActivityId: {{observation.activityId}} 
Date: {{observation.observationDate}}
LeaderId: {{observation.leaderId}} 
ParticipantId: {{observation.participantId}} 
 </option>
 </select>


<p>
Text: {{modifyObservation.observationText}}
<p>
ActivityId: {{modifyObservation.activityId}} 
<p>
Date: {{modifyObservation.observationDate}}
<p>
LeaderId: {{modifyObservation.leaderId}} 
<p>
ParticipantId: {{modifyObservation.participantId}} 

</p>
-->
<div class="col-md-6">
<div>
    <textarea class="form-control" rows="5" [(ngModel)]="modifyObservation.observationText" placeholder="Observation text">
    </textarea>
</div>

<!--<div>activityId {{modifyObservation.activityId}}</div>-->



<p></p>
<div class="form-group ">
 <label for="modifyActivity" class="col-form-label">
 Select activity
 </label>
 <select id="modifyActivity" name="modifyActivity" [(ngModel)]="activity" class="form-control" (ngModelChange)="onActivityChange($event)" >
 <option class="dropdown-item" *ngFor="let activity of activitys" [value]="activity.activityId" [selected]="activity === selectedActivity">
 {{activity.activityNumber}} - {{activity.activityName}} - {{activity.activityDate}}
 </option>
 </select>

</div>
<p></p>

<div>
    <input class="form-control" [(ngModel)]="modifyObservation.observationDate" placeholder="Observation date - YYYY-MM-DD HH24:MI">
</div><p></p>

<!--<div>leaderId {{modifyObservation.leaderId}}</div>-->
<div class="form-group ">
 <label for="modifyLeader" class="col-form-label">
  Select leader
 </label>
 <select id="modifyLeader" name="modifyLeader" [(ngModel)]="leader" class="form-control" (ngModelChange)="onLeaderChange($event)">
 <option class="dropdown-item" *ngFor="let leader of leaders" [value]="leader.leaderId"
 [selected]="leader === selectedLeader">
 {{leader.leaderScoutname}} - {{leader.leaderName}} - {{leader.leaderSurname}}
 </option>
 </select>
</div><p></p>
<!--<div>participantId {{modifyObservation.participantId}}</div>-->
<div class="form-group ">
 <label for="modifyParticipant" class="col-form-label">
  Select participant
 </label>
 <select id="modifyParticipant" name="modifyParticipant" [(ngModel)]="participant" class="form-control" (ngModelChange)="onParticipantChange($event)">
 <option class="dropdown-item" *ngFor="let participant of participants" [value]="participant.participantId" [selected]="participant === selectedParticipant">
 {{participant.participantScoutname}} - {{participant.participantName}} - {{participant.participantSurname}}
 </option>
 </select>
</div>
<p></p>
<div>
<button  type="button" class="btn btn-primary btn-space" (click)="modify()">Update observation!</button>
<button  type="button" class="btn btn-primary btn-space" (click)="delete()">Delete observation!</button>
</div>
</div>