<h5> 
Modify your observation here
</h5>

<!--

<div class="form-group">
 <label for="modifyObservation">
  Observation
 </label>
 <select id="modifyObservation" name="modifyObservation" [(ngModel)]="modifyObservation" class="form-control" (ngModelChange)="onChange($event)">
 <option *ngFor="let observation of observations" [value]="observation.observationId">
 Text: {{observation.observationText}}
ActivityId: {{observation.activityId}} 
Date: {{observation.observationDate}}
LeaderId: {{observation.leaderId}} 
ParticipantId: {{observation.participantId}} 
 </option>
 </select>


<p>
Text: {{modifyObservation.observationText}}
<p>
ActivityId: {{modifyObservation.activityId}} 
<p>
Date: {{modifyObservation.observationDate}}
<p>
LeaderId: {{modifyObservation.leaderId}} 
<p>
ParticipantId: {{modifyObservation.participantId}} 

</p>
-->
<div class="col-md-6">
<div>
    <input class="form-control" [(ngModel)]="modifyObservation.observationText" placeholder="Observation text">
</div>
<p></p>
<div>
    <input class="form-control" [(ngModel)]="modifyObservation.activityId" placeholder="ActivityId">
</div>
<p></p>
<div>
    <input class="form-control" [(ngModel)]="modifyObservation.observationDate" placeholder="Observation date">
</div><p></p>
<div>
    <input class="form-control" [(ngModel)]="modifyObservation.leaderId" placeholder="LeaderId">
</div><p></p>
<div>
    <input class="form-control" [(ngModel)]="modifyObservation.participantId" placeholder="ParticipantId">
</div>
<p></p>
<div>
<button  type="button" class="btn btn-primary btn-space" (click)="modify()">Update observation!</button>
<button  type="button" class="btn btn-primary btn-space" (click)="delete()">Delete observation!</button>
</div>
</div>