<div class="container">
	<div ng-view class="ng-scope">
		<p>
	<h2 class="ng-binding ng-scope">Activity details </h2>
<table class="table table-striped ng-scope">
	<thead>
		<tr>
			<th class="ng-binding"> Activity number </th>
			<th class="ng-binding">
			Activity name </th>
			<th class="ng-binding">
			Activity date </th>
		</tr>
	</thead>
	<tbody>
		<tr class="ng-scope">
			<th>{{activity.activityNumber}} </th>
			<th> {{activity.activityName}} </th>
			<th> {{activity.activityDate}} </th>
		</tr>
	</tbody>
</table>
</div>
</div>

<p>



<app-observation-show [activityId]="activity.activityId"></app-observation-show>

