


<tree-root #tree [nodes]="observationTagTree" [options]="observationTreeOptions"></tree-root>


<p>
  <div>
<button type="button" class="btn btn-primary btn-space" (click)="modify()">Save Tree!</button>
<button type="button" class="btn btn-primary btn-space" (click)="add()">Add new node!</button>
<button type="button" class="btn btn-primary btn-space" (click)="delete()">Delete selected node!</button>
<button type="button" class="btn btn-primary btn-space" (click)="expandAll()">Expand all</button>
<button type="button" class="btn btn-primary btn-space" (click)="collapseAll()">collapse all</button>
</div>


{{log}}