<h5> 
Modify your activity here
</h5>


<div class="form-group">
 <label for="modifyActivity" class=" col-form-label">
  Select activity
 </label>
 <select id="modifyActivity" name="modifyActivity" [(ngModel)]="modifyActivity" class="form-control" (ngModelChange)="onChange($event)">
 <option class="dropdown-item" *ngFor="let activity of activitys" [value]="activity.activityId" [selected]="activity.activityId === selectedActivityId">
 {{activity.activityNumber}} - {{activity.activityName}} - {{activity.activityDate}}
 </option>
 </select>

<!--
<p>
Name: {{modifyActivity.activityName}}
<p>
Number: {{modifyActivity.activityNumber}} 
<p>
Date: {{modifyActivity.activityDate}}


</p>
-->
<p>
<div>
  
    <input class="form-control" [(ngModel)]="modifyActivity.activityName" placeholder="Activity name">
  
</div>
<p>
<div>

    <input class="form-control" [(ngModel)]="modifyActivity.activityNumber" placeholder="Activity number">
 
</div>
<p>
<div>

    <input class="form-control" [(ngModel)]="modifyActivity.activityDate" placeholder="Activity date - YYYY-MM-DD HH24:MI">

</div>
<p></p>

<div>
<button type="button" class="btn btn-primary btn-space" (click)="modify()">Update activity!</button>


<button type="button" class="btn btn-primary btn-space" (click)="delete()">Delete activity!</button>
</div>