<h5> 
Modify your participant here
</h5>

<div class="form-group">
 <label for="modifyParticipant" class="col-sm-4 col-form-label">
  Select participant
 </label>
 <select id="modifyParticipant" name="modifyParticipant" [(ngModel)]="modifyParticipant" class="form-control" (ngModelChange)="onChange($event)">
 <option class="dropdown-item" *ngFor="let participant of participants" [value]="participant.participantId">
 {{participant.participantScoutname}} - {{participant.participantName}} - {{participant.participantSurname}}
 </option>
 </select>

<!--
<p>
Name: {{modifyParticipant.participantName}}
<p>
Scoutname: {{modifyParticipant.participantScoutname}} 
<p>
Surname: {{modifyParticipant.participantSurname}}
-->

<p>
<div>
    <input class="form-control" [(ngModel)]="modifyParticipant.participantName" placeholder="Participant name">
</div>
<p>
<div>
    <input class="form-control" [(ngModel)]="modifyParticipant.participantScoutname" placeholder="Participant Scoutname">
</div>
<p>
<div>
    <input class="form-control" [(ngModel)]="modifyParticipant.participantSurname" placeholder="Participant Surname">
</div>
<p>
  <div>
<button type="button" class="btn btn-primary btn-space" (click)="modify()">Update participant!</button>
<button type="button" class="btn btn-primary btn-space" (click)="delete()">Delete participant!</button>
</div>