<div class="container">
	<div ng-view class="ng-scope">
		<p>
	<h2 class="ng-binding ng-scope">Observation </h2>
<table class="table table-striped ng-scope">
	<thead>
		<tr>
			<th class="ng-binding"> Observation text </th>
			<th class="ng-binding">
			Activity </th>
			<th class="ng-binding">
			Observation date </th>
			<th class="ng-binding">
			Leader </th>
			<th class="ng-binding">
			Participant </th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let observation of showObservations" class="ng-scope" (click)="goToObservation(observation.observationId)">

			<th>{{observation.observationText}} </th>
			<th> {{observation.activityId}} </th>
			<th> {{observation.observationDate}}</th>
		<th> {{observation.leaderId}}</th>
		<th> {{observation.participantId}}</th>
		</tr>
	</tbody>
</table>
</div>
</div>

