<p>
<!--<h4>
    Please setup your course here:
</h4>
<p>-->
<div class="container">
    <div class="row">
        <div class="col-md-6" >
            <app-add-activity>
            </app-add-activity>
        </div>
        <div class="col-md-6" >
            <app-modify-activity>
            </app-modify-activity>
        </div>
        <div class="col-md-6" >
            <app-add-leader>
            </app-add-leader>
        </div>
        <div class="col-md-6" >
            <app-modify-leader>
            </app-modify-leader>
        </div>
        <div class="col-md-6" >
            <app-add-participant>
            </app-add-participant>
        </div>
        <div class="col-md-6" >
            <app-modify-participant>
            </app-modify-participant>
        </div>
    </div>
</div>
