<p>
  course-setup works!
</p>

<div  style="border:1px solid black">
<app-add-activity></app-add-activity>
</div>
<div  style="border:1px solid black">
<app-modify-activity></app-modify-activity>
</div>
<div  style="border:1px solid black">

<app-add-leader></app-add-leader>
</div>
<div  style="border:1px solid black">
<app-modify-leader></app-modify-leader>

</div>
<div  style="border:1px solid black">

<app-add-participant></app-add-participant>
</div>
<div  style="border:1px solid black">
<app-modify-participant></app-modify-participant>
</div> 