<!--<p>
  add-participant works!
</p>
 <app-participant-list></app-participant-list> 

New participant
<p>
Name: {{addParticipant.participantName}}
<p>
Scoutname: {{addParticipant.participantScoutname}} 
<p>
Surname: {{addParticipant.participantSurname}}

-->
<h5> 
Add your new participant here
</h5>
<p>
<div>
    <input class="form-control" [(ngModel)]="addParticipant.participantName" placeholder="Participant name">
</div>
<p>
  <div>
    <input class="form-control" [(ngModel)]="addParticipant.participantScoutname" placeholder="Participant scoutname">
</div>
<p>
  <div>
    <input class="form-control" [(ngModel)]="addParticipant.participantSurname" placeholder="Participant surname">
</div>
<p>
  <div>
<button type="button" class="btn btn-primary btn-space" (click)="add()">Add participant!</button>
</div>