<!--<p>
  add-activity works!
</p>

New activity
<p>
Name: {{addActivity.activityName}}
<p>
Number: {{addActivity.activityNumber}} 
<p>
Date: {{addActivity.activityDate}}
-->

<h5> 
Add your new activity here
</h5>
<p>
</p>

<div class="col-xs-2">
    <input class="form-control" [(ngModel)]="addActivity.activityName" placeholder="Activity name">
</div>
<p>
<div class="col-xs-2">

    <input class="form-control" [(ngModel)]="addActivity.activityNumber" placeholder="Activity number">

</div>
<p>
<div class="col-xs-2">

    <input class="form-control" [(ngModel)]="addActivity.activityDate" placeholder="Activity date - YYYY-MM-DD HH24:MI">

</div>

<p>
<div>
<button type="button" class="btn btn-primary btn-space" (click)="add()">Add activity!
</button>
</div>