<p>
  add-activity works!
</p>

New activity
<p>
Name: {{addActivity.activityName}}
<p>
Number: {{addActivity.activityNumber}} 
<p>
Date: {{addActivity.activityDate}}


</p>
<div>
  <label>name:
    <input [(ngModel)]="addActivity.activityName" placeholder="name">
  </label>
</div>
<div>
  <label>Number:
    <input [(ngModel)]="addActivity.activityNumber" placeholder="Number">
  </label>
</div>
<div>
  <label>Date:
    <input [(ngModel)]="addActivity.activityDate" placeholder="Date">
  </label>
</div>

<button (click)="add()">Add activity!</button>