<!--<p>
  add-activity works!
</p>

New activity
<p>
Name: {{addActivity.activityName}}
<p>
Number: {{addActivity.activityNumber}} 
<p>
Date: {{addActivity.activityDate}}
-->
<p></p>
<h5> 
Add your new activity here
</h5>
<p>
</p>

<div class="col-xs-2 form-group">
    <input type="text" class="form-control" id="Name" [(ngModel)]="addActivity.activityName"  required>
    <label class="form-control-placeholder" for="Name">Activity name</label>
</div>
<p>
<div class="col-xs-2 form-group">
    <input class="form-control" id="activityNumber" [(ngModel)]="addActivity.activityNumber" required>
    <label class="form-control-placeholder" for="activityNumber">Activity number</label>
</div>
<p>
<div class="col-xs-2 form-group">

    <input class="form-control" id="activityDate" [(ngModel)]="addActivity.activityDate" required>
 <label class="form-control-placeholder" for="activityDate">Activity date YYYY-MM-DD HH24:MI</label>
</div>

	<!--<mat-form-field>
  <input matInput placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date" [value]="addActivity.activityDate">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
-->
<p>
<div>
<button type="button" class="btn btn-secondary btn-space" (click)="add()">Add activity!
</button>
</div>