<p></p><h5> 
Modify your leader here
</h5>
<div class="form-group">
<div *ngIf="modifyLeader.leaderId == null">

 <label for="modifyLeader"  class=" col-form-label">
  Select leader
 </label>
 <select id="modifyLeader" name="modifyLeader" [(ngModel)]="modifyLeader" class="form-control" (ngModelChange)="onChange($event)">
 <option class="dropdown-item" *ngFor="let leader of leaders" [value]="leader.leaderId">
 {{leader.leaderScoutname}} - {{leader.leaderName}} - {{leader.leaderSurname}}
 </option>
 </select>
</div>

<!--
<p>
Name: {{modifyLeader.leaderName}}
<p>
Scoutname: {{modifyLeader.leaderScoutname}} 
<p>
Surname: {{modifyLeader.leaderSurname}}
-->
<div *ngIf="modifyLeader.leaderId" >
<p>
<div>
    <input class="form-control"  [(ngModel)]="modifyLeader.leaderName" placeholder="Leader name">
</div>
<p>
<div>
    <input class="form-control" [(ngModel)]="modifyLeader.leaderScoutname" placeholder="Leader scoutname">
</div>
<p>
<div>
    <input class="form-control" [(ngModel)]="modifyLeader.leaderSurname" placeholder="Leader surname">
</div>
<p>
  <div>
  		<button type="button" class="btn btn-secondary btn-space" (click)="abort()">abort!</button>
<button type="button" class="btn btn-secondary btn-space" (click)="modify()">Update leader!</button>
<button type="button" class="btn btn-secondary btn-space" (click)="delete()">Delete leader!</button>
</div>
</div>
</div>