<!--<p>
  add-leader works!
</p>
New leader
<p>
Name: {{addLeader.leaderName}}
<p>
Name: {{addLeader.userId}}
<p>
Scoutname: {{addLeader.leaderScoutname}} 
<p>
Surname: {{addLeader.leaderSurname}}
-->
<h5> 
Add your new leader here
</h5>
<p></p>
<div class="col-xs-2">

    <input class="form-control" [(ngModel)]="addLeader.leaderName" placeholder="Leader name">
</div>
<p>
</p>
<div class="col-xs-2">
    <input class="form-control" [(ngModel)]="addLeader.userid" placeholder="User Id">
</div>
<p>
</p>
<div class="col-xs-2">
    <input class="form-control" [(ngModel)]="addLeader.leaderScoutname" placeholder="Leader scoutname">
</div>
<p>
</p>
<div class="col-xs-2">
    <input class="form-control" [(ngModel)]="addLeader.leaderSurname" placeholder="Leader surname">
</div>
<p>
</p>
<div>
<button type="button" class= "btn btn-primary btn-space" (click)="add()">Add leader!</button>
</div>